<template>

  <modal-dialog :id="modalId" title="Delete Post">
    <form :id="formId" :action="action" method="POST">

      <p>Are you sure you want to delete post '{{ postTitle }}'?</p>

      <slot name="hidden"></slot>

    </form>

    <template v-slot:footer>
      <button type="button" class="btn btn-default" @click="hideModal"><i class="fa fa-fw fa-ban"></i> Cancel</button>
      <button type="submit" class="btn btn-danger" :form="formId"><i class="fa fa-fw fa-trash"></i> Delete</button>
    </template>

  </modal-dialog>

</template>

<script>

/**
 * Input properties:
 *
 * modalId   - id of modal dialog.
 * action    - form url to submit.
 * postTitle - post title to be deleted.
 *
 * Usage examples:
 *
 * <delete-post-confirmation action="{{ route('posts.destroy', ['post' => $post]) }}">
 *   <div slot="hidden">
 *     {{ csrf_field() }}
 *     {{ method_field('DELETE') }}
 *   </div>
 * </delete-post-confirmation>
 *
 *
 * Trigger example:
 *
 * <a class="btn btn-danger" v-b-modal="'delete-post-modal'">Delete</a>
 *
 */
export default {

  created() {
  },

  props: {
    // Custom id for modal component.
    modalId: {
      type: String,
      default: 'delete-post-modal'
    },
    // Form action.
    action: {
      require: true,
      type: String
    },
    // Post title.
    postTitle: {
      require: true,
      type: String
    },
  },

  components: {},

  data() {
    return {
      data: {
      }
    };
  },
  computed: {
    formId() {
      return 'delete-post-form';
    },
  },
  methods: {
    hideModal() {
      this.$bvModal.hide(this.modalId);
    },
  }
}
</script>
