<template>

  <div v-if="viewMode">

    <span class="mr-3"><i class="like far fa-thumbs-up mr-1"></i>{{ likesCount > 0 ? likesCount : '' }}</span>
    <span class=""><i class="dislike far fa-thumbs-down mr-1"></i>{{ dislikesCount > 0 ? dislikesCount : '' }}</span>

  </div>
  <div v-else>

    <form :ref="formId" :action="action" method="POST">

      <span class="clickable mr-3" @click="onLike">
        <i :class="{'far': liked!==1, 'fas': liked===1}" class="like fa-thumbs-up mr-1"></i>{{ likesCount > 0 ? likesCount : '' }}</span>
      <span class="clickable" @click="onDislike">
        <i :class="{'far': liked!==-1, 'fas': liked===-1}" class="dislike fa-thumbs-down mr-1"></i>{{ dislikesCount > 0 ? dislikesCount : '' }}</span>

      <input type="hidden" name="operation" :value="operation">

      <slot name="hidden"></slot>

    </form>

  </div>

</template>

<style scoped>
.clickable {
  cursor: pointer;
}

.like,
.dislike {
  color: #3490dc;
}
</style>

<script>

/**
 * Input properties:
 *
 * action        - form action url.
 * viewMode      - if true, user can only see data.
 * liked         - liked or disliked by user (can be 1, 0 or -1).
 * likesCount    - count of likes.
 * dislikesCount - count of dislikes.
 *
 * Usage examples:
 *
 * <likes-component action="{{ route('posts.like', ['post' => $post]) }}"
 *                  :likes-count="{{ $post->likes_count }}"
 *                  :dislikes-count="{{ $post->dislikes_count }}"
 *                  :liked="{{ $post->dislikedBy(auth()->user()) ? -1 : ($post->likedBy(auth()->user()) ? 1 : 0) }}">
 *   <div slot="hidden">
 *     {{csrf_field()}}
 *   </div>
 * </likes-component>
 *
 * or
 * <likes-component :view-mode="true"
 *                  :likes-count="{{ $post->likes_count }}"
 *                  :dislikes-count="{{ $post->dislikes_count }}">
 * </likes-component>
 *
 */
export default {

  created() {
  },

  props: {
    // Form action url.
    action: {
      require: true,
      type: String
    },
    viewMode: {
      require: false,
      type: Boolean,
      default: false
    },
    liked: {
      required: false,
      type: Number,
      default: 0
    },
    likesCount: {
      required: false,
      type: Number,
      default: 0
    },
    dislikesCount: {
      required: false,
      type: Number,
      default: 0
    },
  },

  components: {},

  data() {
    return {
      operation: 0,
    };
  },
  computed: {
    formId() {
      return 'like-form';
    },
  },
  methods: {
    onLike() {
      this.operation = this.liked === 1 ? 0 : 1;
      this.$nextTick(function () {
        this.$refs[this.formId].submit();
      })
    },
    onDislike() {
      this.operation = this.liked === -1 ? 0 : -1;
      this.$nextTick(function () {
        this.$refs[this.formId].submit();
      })
    },
  }
}
</script>
