<template>
  <b-modal :id="id" :dialog-class="dialogClasses" @shown="onShown" @hidden="onHidden">
    <template v-slot:modal-header>
      <slot name="header">
        <h4 class="modal-title">{{ title }}</h4>
      </slot>
      <button type="button" class="close" @click="$bvModal.hide(id)">&times;</button>
    </template>
    <div class="d-block">
      <slot></slot>
    </div>
    <template v-slot:modal-footer>
      <slot name="footer">
        <button type="button" class="btn btn-primary" @click="onConfirm">Ok</button>
      </slot>
    </template>
  </b-modal>
</template>

<script>

export default {

  props: {
    id: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: false,
      default: ''
    },
    modalClass: {
      type: String,
      required: false,
      default: 'modal-lg'
    },
  },

  created() {
  },

  mounted() {
  },

  data() {
    return {}
  },

  methods: {

    onShown() {
      this.$emit('shown');
    },

    onHidden() {
      this.$emit('hidden');
    },

    onConfirm() {
      this.$emit('confirm');
      this.$bvModal.hide(this.id);
    },

  },

  computed: {

    dialogClasses() {
      return ['inmodal'].concat(this.modalClass);
    },

  },

}
</script>
