<template>

  <div>
    <label :for="inputId">{{ inputLabel }}</label>
    <input :id="inputId" type="text" :name="inputName" v-model="value" class="form-control" @input="acceptNumber">
  </div>

</template>

<script>

/**
 * Input properties:
 *
 * inputId    - id of text input.
 * inputName  - name of text input.
 * inputLabel - label of text input.
 * inputValue - initial value of text input.
 *
 * Usage examples:
 *
 * <phone-input input-id="phone"
 *              input-name="phone"
 *              input-label="{{ __('Phone Number') }}"
 *              input-value="{{ old('phone') ?? $user->phone  }}">
 * </phone-input>
 *
 */
export default {

  created() {
  },

  props: {
    // Input id.
    inputId: {
      require: true,
      type: String
    },
    // Input name.
    inputName: {
      require: true,
      type: String
    },
    // Input name.
    inputValue: {
      require: false,
      type: String,
      default: "",
    },
    // Input label.
    inputLabel: {
      require: true,
      type: String
    },
  },

  components: {},

  data() {
    return {
      value: this.inputValue,
    };
  },
  methods: {
    acceptNumber() {
      let x = this.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      this.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    }
  }
}
</script>
