<template>
  <div>
    <modal-dialog :id="modalId" :title="data.title">
      <p>{{ data.message }}</p>
      <template slot="footer">
        <button type="button" class="btn btn-default" @click="onCancel"><i class="fa fa-fw fa-ban"></i> Cancel</button>
        <button type="button" class="btn" :class="confirmButtonClass" @click="onConfirm">{{ this.confirmButtonText }}</button>
      </template>
    </modal-dialog>

    <slot name="hidden"></slot>
  </div>
</template>

<script>

/**
 * Input properties:
 *
 * modalId - custom id for modal component
 * title - title for dialog
 * message - message for dialog body
 * confirmButtonClass - class of confirmation button
 * confirmButtonText - text of confirmation button
 *
 *
 * Emits:
 *
 * confirm - on Ok button click
 * cancel - on Cancel button click
 *
 * Usage examples:
 *
 * <simple-confirmation-modal title="Delete Items"
 *                            :message="Are you sure?"
 *                            @confirm="onConfirm"
 *                            @cancel="onCancel"/>
 *
 *
 * Trigger example:
 *
 * <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmation-modal">
 *     <i class="fa fa-trash"/>
 * </a>
 *
 */
export default {

  created() {
    this.$root.$on('confirmation-modal-set-data', (data) => {
      this.setData(data);
    });
  },

  props: {
    // Custom id for modal component.
    modalId: {
      type: String,
      default: 'confirmation-modal'
    },
    // Title for dialog.
    title: {
      type: String,
      default: ''
    },
    // Message for dialog body.
    message: {
      type: String,
      default: ''
    },
    // Class of confirmation button.
    confirmButtonClass: {
      type: String | Array,
      default: 'btn-primary'
    },
    // Text of confirmation button.
    confirmButtonText: {
      type: String,
      default: 'Ok'
    }
  },

  components: {},

  data() {
    return {
      data: {
        title: this.title,
        message: this.message
      }
    };
  },

  watch: {
    // Watch on title props change.
    title: function (newVal) {
      this.data.title = newVal;
    },
    // Watch on message props change.
    message: function (newVal) {
      this.data.message = newVal;
    },
  },

  computed: {},

  methods: {
    /**
     * Set component data values.
     * @param data
     */
    setData(data) {
      if (data === undefined) data = {};

      Object.assign(this.data, data);
    },

    onConfirm() {
      this.$emit('confirm');
      this.hideModal();
    },

    onCancel() {
      this.$emit('cancel');
      this.hideModal();
    },

    hideModal() {
      this.$bvModal.hide(this.modalId);
    },
  }
}
</script>
